<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>singup</title>
  </head>
  <body>
    <h1
      style="
        font-family: &quot;Segoe UI&quot;, Tahoma, Geneva, Verdana, sans-serif;
        text-transform: uppercase;
      "
    >
      sign-up page
    </h1>
    <form action="/user" method="post">
      <label for="">full name</label>
      <input type="text" placeholder="enter your name" required name="name" />

      <label for="">email</label>
      <input type="text" placeholder="enter your name" name="email" required />

      <label for="">password</label>
      <input
        type="text"
        placeholder="enter your name"
        name="password"
        required
      />

      <button type="submit">singup</button>
    </form>
  </body>
</html>
